{% extends 'base.html' %}


{% block _body %}
<form class="contact_us" method="post">
<div class="col s12">

</div>
    <div class="row">
      <h3>Contact Us</h3>
    </div>

  <div class="input-field row">
  <input type="text">
  <label for="name">Name</label>
  </div>

  <div class="input-field row">
  <input type="text">
  <label for="email">Email Address</label>
  </div>

  <div class="input-field row">
  <input type="text">
  <label for="phone">Phone Number</label>
  </div>

  <div class="row">
  <textarea name="name" rows="8" cols="80"></textarea>
  <label for="comment">Comments</label>
  </div>


  <input type="submit" value="Submit" />

</form>
{% endblock %}
