<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="pk_test_jV8nSSQ2M0FkjIhxHHUBFDPh"
  data-amount="5595"
  data-name="Vegan Food Tour(4/18/18)"
  data-description="Eat Vegan With Us"
  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
  data-locale="auto">
</script>

<script type="text/javascript">
  document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
</script>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
   <input type="hidden" name="email" value="tarabtours@gmail.com">
  <button type="submit">Book With Paypal</button>
</form>


<p>
<div>
  <a class="buy-with-crypto"
     href="https://commerce.coinbase.com/checkout/87cd38ee-dffe-4cce-ab26-c3923bd1e524">
    <span>Book with Crypto</span>
  </a>
  <script src="https://commerce.coinbase.com/v1/checkout.js">
  </script>
</div>
<p>
