<div class="personal_info col s12">

  <div class="row">
    <div class="input-field col s6">
    <input type="text" required>
    <label for="fname">First Name</label>
    </div>

    <div class="input-field col s6">
    <input type="text" required>
    <label for="lname">Last Name</label>
    </div>
  </div>



  <div class="row">
    <div class="input-field col s6">
    <input type="text" required>
    <label for="pnum">Phone Number</label>
    </div>

    <div class="input-field col s6">
    <input type="text" required>
    <label for="pnum">Confirm Number</label>
    </div>
  </div>



  <div class="row">
    <div class="input-field col s6">
    <input type="text" required>
    <label for="email">Email Address</label>
    </div>

    <div class="input-field col s6">
    <input type="text" required>
    <label for="email2">Confirm Email Address</label>
    </div>
  </div>

</div>
