{% extends 'base.html' %}

{% block _body %}

<style media="screen">
  .about_us_sub_head{
    font-style: italic;
    font-size: 16;
    font-weight: bold;
  }
</style>

<div class="container col center">

  <div class="row">
    <h4>About Us<h4>
  </div>

  <div class="s6 offset-s3 center">
    <p class='about_us_sub_head'>Responsible Travel</p>
      <p>
        We make sure your money stays in the country. By working with local,
        family-run restaurants, we contribute to the local economy by making
        small businesses succeed. By exploring the city by foot, you get to see
        more! You also get to offset your carbon footprint, which is always ace.
      </p>
  </div>

  <div class="row center">
    <p class='about_us_sub_head'>(Mostly) Cruelty Free</p>
    <p>
      We believe in a business model which is fair to all species on this planet.
      We reject animal or human exploitation and we do our absolute best to operate
      outside of trade based on violence. While we understand we cannot avoid all
      situations in which sentient beings may suffer directly or indirectly, we try
      to be as congruent as possible.
    </p>
  </div>

  <div class="row center">
    <p class='about_us_sub_head'>Foodies By Nature</p>
    <p>
      We are people who love to eat, and eat well. Our passion for authentic
      and creative flavours which reflect the local culture goes from traditional
      pre hispanic foods to modern fusion cuisine. Our staff can’t wait to feed you!
    </p>
  </div>

  <div class="row center">
    <p class='about_us_sub_head'>Not Just Food</p>
    <p>
      Yes, who doesn’t love to explore a city and eat at the same time?
      However, our tours are not only about food. We thrive to show you
      off-the-beaten path neighborhoods and give you a true feel of the city’s
      history and contemporary context.
    </p>
  </div>

</div>

{% endblock %}
