{% extends 'base.html' %}


{% block _body %}


<script>
$(document).ready(function(){

});
</script>

<div id='card' class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
      <div class="materialboxed">
        <img class="" width="650" src="static/images/img2.jpeg">
      </div>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h5 class='center'>Vegan & Vegetarian Street Food Adventure</h5>
        <div class="divider"></div>

        <div class="section">
          <p>Vegan Tour!</p>
        </div>

        <div class="section">
          <a href='/tours/vegan' class="waves-effect waves-light btn-large">Learn More</a>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
