{% extends 'base.html' %}

{% block _body %}
<div class="container">

<!---->
<div class=" row s12">
  <div class="col s6 m6">
  <h4>Vegan & Veggie Street Food Adventure</h4>

  <div class="divider"></div>

  <p>4 Hours Total</p>
  <p>All Meals Included</li>
  <p>Offered in English</p>

  </div>

  <div class="col s6 m6">
  <img class="materialboxed" src="static/images/img1.jpeg">
  </div>
</div>

<div class="divider"></div>
<div class="section">
  So you are a vegan or vegetarian, and feel like
  you are missing out on Mexico City's iconic street
  food? Fear not, for we are here to feed you.
</div>
<div class="divider"></div>


</div>
</div>
{% endblock %}
